numpy
rouge_score
fire
sentencepiece
wandb
deepspeed 
transformers 
accelerate
tensorboardX
datasets
torch
scikit-learn
jsonlines
OpenAttack
umap-learn
wget
sentence_transformers
strsimpy
hdbscan
language-tool-python
matplotlib